{% extends "admin/base.html" %} {% load static %} {% block title %}
{{ site_title|default:_('Django site admin') }}{% endblock %} {% block branding %}
<div id="site-name">
  <img
    src="{% static 'css/REFRESH LOGO.png' %}"
    alt="Logo"
    style="height: 40px; vertical-align: middle"
  />
  <span style="vertical-align: middle"
    >{{ site_header|default:_('Django administration') }}</span
  >
</div>
{% endblock %} {% block extrahead %}
<link rel="icon" type="image/png" href="{% static 'css/REFRESH LOGO.png' %}" />
{{ block.super }} {% endblock %}
